<ul class="nav nav-tabs">
    <li *ngIf="isAdmin"><a routerLink="/admin" routerLinkActive="active">Dashboard</a></li>
    <li *ngIf="isAdmin"><a routerLink="/signup" routerLinkActive="active">Add User</a></li>
    <li class="active"><a routerLink="/leave" routerLinkActive="active">Apply Leave</a></li>
    <li *ngIf="isAdmin"><a routerLink="/edit" routerLinkActive="active">Edit User</a></li>
</ul>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome to Leave Tracking Application of Copart</div>
            <div class="panel-body table-responsive mytable">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Resource Manager</th>
                            <th>Onsite Manager</th>
                            <th>No of Leaves</th>
                            <th>Director</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{employees.Lead}}</td>
                            <td>{{employees.Manager}}</td>
                            <td>{{employees.Leaves}}</td>
                            <td>{{employees.Director}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Leave history</div>
            <div class="panel-body table-responsive mytable">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th>Fromdate</th>
                            <th>Todate</th>
                            <th>No of days</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of leaveHistory">
                            <td>{{item.Select}}</td>
                            <td>{{item.Fromdate}}</td>
                            <td>{{item.Todate}}</td>
                            <td>{{item.no_of_leaves}}</td>
                            <td>{{item.Reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Leave application form </div>
    <div class="panel-body">
        <form #leaveform="ngForm" (ngSubmit)="OnSubmit(leaveform.value)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label>From Date: </label>
                                <input type="date" ngModel name="Fromdate" class="form-control" required [(ngModel)]="leave.fromdate" (change)="onChange($event.target.value)">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label>To Date: </label>
                                <input type="date" ngModel name="Todate" class="form-control" required [(ngModel)]="leave.todate" (change)="onChange($event.target.value)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label>No of days</label>
                                <input  ngModel name="no_of_leaves" class="form-control" required [(ngModel)]="leaves" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label>Leave type: </label>
                                <select ngModel name="Select" class="form-control" required> 
                                    <option valu="Select" disabled>Select Leave type</option>
                                    <option value="CL">Casual leave</option>
                                    <option value="SL">Sick Leave</option>
                                    <option value="PL">Paid Leave</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Reason for Leave</label>
                    <textarea class="form-control" rows="4" cols="10" style="width:100%;" ngModel name="Reason" required></textarea>
                </div>
            </div>
            <br>
            <button [disabled]="!leaveform.form.valid" type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
    </div>
</div>